@tailwind base;
@tailwind components;
@tailwind utilities;

/* Importation des polices Google */
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@layer components {
  .text-gold {
    color: #D4AF37;
  }

  .hover\:text-gold:hover {
    color: #D4AF37;
  }

  .border-gold {
    border-color: #D4AF37;
  }

  .hover\:border-gold:hover {
    border-color: #D4AF37;
  }
}
